@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-color: white;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 8%;
	padding-right: 0%;
	background-color:#191919;
}
.logo{
	color: white;
	font-size: 45px;
	letter-spacing: 1px;
	cursor: pointer;

}
span{
	color: #005AAF ;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #005AAF  ;
	transition: .4s;

}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: black;
	margin: 20px 0px 20px;
	font-size: 60px;
}
p{
	color: black;
	font-size: 25px;
	margin-bottom: 50px;
}

.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #005AAF;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#032843;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 500px;
	padding-right: 4%;

    
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: #005AAF;
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#005AAF;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #032843;
	cursor: pointer;
}

.service{
	background: #032843;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 60px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 500px;
}
.card{
	height: 350px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #032843;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	
}

.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#032843;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #032843;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 100px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    
}
footer p:nth-child(1){
	font-size: 20px;
	color: white;
	margin-bottom: 35px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.end{
	position: absolute;
	color:white;
	bottom: 0px;
	font-size: 2px;

}


.image img{
    max-width: 500px;
	float: right;
	margin-right: 0px;
	margin-top: 0px;
	height: 567px;
}


body::-webkit-scrollbar {
	width: 12px;             
}

body::-webkit-scrollbar-track{
	background: #191919;
}
body::-webkit-scrollbar-thumb {
	background: #032843;
	border-radius: 20px;
	border: 2px solid #191919;
}

.container {
    position: absolute;
    display: flex;
    height: 80%;
    width: 95%;
    z-index: 100;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 1.5%;
	margin-left: 2.5%;
}

.container .box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid #fff;
    
   
}

.container .box:last-child {
    border-right: none;
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx.active {
    position: fixed;
    top: 100px;
    left: 100px;
    width: calc(100% - 200px);
    height: calc(100% - 200px);

}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;



}
.container .box .imgBx:hover img{
    transform: scale(1.2);
}
.container .box .imgBx.active:hover img {
    transform: scale(1);
}

.container .box:last-child {
    border-right: none;
}

.container .box .imgBx.active {
    position: fixed;
    top: 100px;
    left: 100px;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    z-index: 1000;
    opacity: 1;
}

.container .box .imgBx img {
    position: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;

}
.container .box .imgBx:hover img{
    transform: scale(1.2);
}
.container .box .imgBx.active:hover img {
    transform: scale(1);
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1300px;
    overflow: hidden;
    margin-left: 25px;
}
.card img{
    margin-top: -45px;
    margin-left: -35px;
    width: 150%;
    height: 113%;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
       flex-wrap: wrap;
       width: calc(100% - 30px);
       height: calc(100% - 170px);
           }
       .container .box {
           width: 100%;
           height: 25%;
           border-bottom: 10px solid #fff;
       }
       .container .box:last-child {
           border-right: 10px solid #fff;
       }
       .container .box .imbBx.active {
           top: 70px;
           left: 20px;
           width: calc(100% - 40px);
           height: calc(100% - 160px);  
       }
    }
